src/main/app/queue-test-project.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:core="http://www.mulesoft.org/schema/mule/core" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd">

    <custom-queue-store class="org.test.SortedQueueStore" name="customQueueStore" />
	<custom-processing-strategy class="org.test.CustomProcessingStrategy" name="customProcessingStrategy" doc:name="Custom Processing Strategy">
		<spring:property name="maxThreads" value="2" />
		<spring:property name="maxBufferSize" value="1" />
		<spring:property name="minThreads" value="0" />
		<spring:property name="poolExhaustedAction" value="0" />
		<spring:property name="threadTTL" value="60000" />
		<spring:property name="threadWaitTimeout" value="30000" />
		<spring:property name="doThreading" value="True" />
		
		<spring:property name="queueStore" ref="customQueueStore" />
 		<spring:property name="queueTimeout" value="1000" />
 		<spring:property name="maxQueueSize" value="100" />
	</custom-processing-strategy>
	
	<http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
	
	<flow name="queue-test-projectFlow">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/" doc:name="HTTP"/>
		<set-payload value="#[server.dateTime.getMilliSeconds() + '']" doc:name="Set Payload"/>
		<logger message="#['main flow request recieved : ' + payload]" level="INFO" doc:name="Logger"/>
		<async doc:name="Async">
			<flow-ref name="async-flow" doc:name="Flow Reference"/>
		</async>
		<logger message="#['main flow request finished : ' + payload]" level="INFO" doc:name="Logger"/>
	</flow>
	
	
	
	<flow name="async-flow" processingStrategy="customProcessingStrategy">
		<logger message="#['flow started : ' + payload]" level="INFO" doc:name="Logger"/>
		<scripting:component doc:name="Groovy">
			<scripting:script engine="Groovy"><![CDATA[sleep(2000);
return payload;]]></scripting:script>
		</scripting:component>
		<logger message="#['flow ended : ' + payload]" level="INFO" doc:name="Logger"/>
	</flow>
	</mule>
